In [1]:
import pandas as pd

In [ ]:
df = pd.read_parquet("yellow_tripdata_2024-01.parquet", engine = "pyarrow")

In [ ]:
df.to_csv("yellow_tripdata_2024_01.csv", index = False)

In [2]:
df = pd.read_csv("yellow_tripdata_2024_01.csv", nrows = 100)

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [7]:
engine.connect()

In [8]:
print(pd.io.sql.get_schema(df, name = "yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [12]:
df_iter = pd.read_csv("yellow_tripdata_2024_01.csv", iterator = True, chunksize = 100000)

In [13]:
df = next(df_iter)

In [14]:
len(df)

100000

In [15]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [18]:
df.head(n=0).to_sql(name = "yellow_taxi_data", con = engine, if_exists = 'replace')

0

In [19]:
df.to_sql(name = "yellow_taxi_data", con = engine, if_exists = 'append')

1000

In [21]:
from time import time

In [22]:
while True:
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name = "yellow_taxi_data", con = engine, if_exists = "append")

    t_end=time()

    print ("inserted another chunk..., took %.3f seconds" %(t_end - t_start))

inserted another chunk..., took 19.233 seconds
inserted another chunk..., took 16.413 seconds
inserted another chunk..., took 16.762 seconds
inserted another chunk..., took 16.490 seconds
inserted another chunk..., took 16.368 seconds
inserted another chunk..., took 16.869 seconds
inserted another chunk..., took 16.735 seconds
inserted another chunk..., took 16.394 seconds
inserted another chunk..., took 16.290 seconds
inserted another chunk..., took 19.891 seconds
inserted another chunk..., took 16.725 seconds
inserted another chunk..., took 16.453 seconds
inserted another chunk..., took 16.261 seconds
inserted another chunk..., took 16.111 seconds
inserted another chunk..., took 16.493 seconds
inserted another chunk..., took 16.534 seconds
inserted another chunk..., took 16.552 seconds
inserted another chunk..., took 16.620 seconds
inserted another chunk..., took 16.058 seconds
inserted another chunk..., took 16.544 seconds
inserted another chunk..., took 17.542 seconds
inserted another chunk..., took 15.422 seconds
inserted another chunk..., took 15.303 seconds
inserted another chunk..., took 15.803 seconds
inserted another chunk..., took 16.323 seconds
inserted another chunk..., took 16.885 seconds
inserted another chunk..., took 17.044 seconds

/tmp/ipykernel_459/2328420148.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 18.864 seconds
inserted another chunk..., took 15.776 seconds

StopIteration: